<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>CJ Deep Link Automation Test</title>
</head>
<body>
    <a href="https://www.booking.com/searchresults.en-gb.html?ss=Tokyo&amp;checkin=2026-10-07&amp;checkout=2026-10-21&amp;group_adults=2&amp;no_rooms=1&amp;group_children=0">Search stays in Tokyo</a>
    <script src="https://www.anrdoezrs.net/am/101877506/include/allCj/impressions/page/am.js"></script>
</body>
</html>
